[Unit]
Description=Docker Compose App
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/root/docker-compose-reactjs-live
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
Restart=always
User=root
StandardOutput=append:/var/log/docker-compose-app.log
StandardError=append:/var/log/docker-compose-app-error.log
SyslogIdentifier=docker-compose-app

[Install]
WantedBy=multi-user.target
